.menu-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  padding: 20px 0px;
  border-top: 1px solid rgba(220, 220, 220, 0.5);
}

.menu-nav__list {
  display: flex;
  justify-content: center;
}

.menu-nav__btn-area {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav__btn {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}

.menu-nav__chat__noti,
.menu-nav__more__noti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.menu-nav__chat__noti {
  left: 20px;
  bottom: 20px;
}

.menu-nav__more__noti {
  left: 30px;
  bottom: 25px;
}

.bottom-reserved-area {
  height: 72px;
}
