.screen-main {
  padding: 0px 25px;
}

.user,
.user__column:first-child {
  display: flex;
  align-items: center;
}

.user {
  padding-bottom: 10px;
  justify-content: space-between;
}

.user__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user__column:last-child * {
  margin-left: 5px;
}

.user__photo {
  margin-right: 20px;
}

.user__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__name {
  font-size: 20px;
  font-weight: bold;
}

.user__statement {
  margin-top: 8px;
  font-size: 15px;
}

.user__statement i {
  color: tomato;
  margin-left: 5px;
}

.user__chat__time {
  font-size: small;
  margin-bottom: 10px;
}

.user__chat__noti {
  display: flex;
  justify-content: center;
  align-items: center;
}
